In [20]:
def multiple():
    operation = "Sum" 
    total = 5+10
    return operation, total;

operation, total = multiple()

print(operation, total)

Sum 15

In [14]:
import pandas as pd
df = pd.DataFrame()
x = 5

In [15]:
multiple()

('Sum', 15)

In [21]:
df['ops'] = operation

In [22]:
df['total'] = total

In [23]:
df

Empty DataFrame
Columns: [ops, total]
Index: []